.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 50px; 
    padding: 30px;
}

.carrito img{
    width: 80px;
    height: 80px;
    mix-blend-mode: multiply;
}

.carrito button{
    cursor: pointer;
    background: #eaeaea;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}




